################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DuckDNS/obj/**
/DuckDNS/bin/**
/.vs
