################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DuckDNS/bin/Debug/DynDNS.cfg
/DuckDNS/obj/*